/*
-----------------------------------------------------------------------
5.2.    Borders
-----------------------------------------------------------------------
*/

@use '../../variables/map' as vars;

.border,
.border-top {
    border-top: vars.get('base-border-width') solid vars.get('base-border-color') !important;
}

.border,
.border-bottom {
    border-bottom: vars.get('base-border-width') solid vars.get('base-border-color') !important;
}

.border,
.border-left {
    border-left: vars.get('base-border-width') solid vars.get('base-border-color') !important;
}

.border,
.border-right {
    border-right: vars.get('base-border-width') solid vars.get('base-border-color') !important;
}

.border-none,
.border-top-none {
    border-top: none !important;
}

.border-none,
.border-bottom-none {
    border-bottom: none !important;
}

.border-none,
.border-left-none {
    border-left: none !important;
}

.border-none,
.border-right-none {
    border-right: none !important;
}
