/*
-----------------------------------------------------------------------
2.7.    Sidebar
-----------------------------------------------------------------------
*/

@use '../../variables' as vars;
@use '../../mixins/breakpoint' as breakpoints;
@use '../../mixins/shadows' as shadows;

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: vars.get('sidebar-width');
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 25;
    background-color: vars.get('sidebar-bg-color');
    background-image: vars.get('sidebar-bg-image');
    -webkit-overflow-scrolling: touch;

    @include shadows.box(vars.get('sidebar-box-shadow'));

    &:not(.right) {
        left: 0;
        transition: left vars.get('sidebar-animation-duration') vars.get('sidebar-animation-easing');
        border-right: vars.get('sidebar-border-width') solid vars.get('sidebar-border-color');
    }

    &.right {
        right: 0;
        transition: right vars.get('sidebar-animation-duration') vars.get('sidebar-animation-easing');
        border-left: vars.get('sidebar-border-width') solid vars.get('sidebar-border-color');
    }

    @media (max-width: map-get(breakpoints.$values, 'sm')) {
        width: 100%;
        border: none !important;
    }

    .menu {
        margin-top: vars.get('sidebar-menu-vertical-margin');
        margin-bottom: vars.get('sidebar-menu-vertical-margin');
    }

    .section {
        display: block;
        padding: vars.get('sidebar-section-padding');
        margin: vars.get('sidebar-section-margin');

        > ul,
        > ol {
            margin-left: 0;
        }
    }

    .divider {
        padding: vars.get('sidebar-divider-padding');
        margin: vars.get('sidebar-divider-margin');
        width: auto;
    }

    .link {
        display: block;
        padding: vars.get('sidebar-link-padding');
        margin: vars.get('sidebar-link-margin');
        min-height: vars.get('sidebar-link-height');
        height: auto;
        color: vars.get('sidebar-link-text-color');
        background-color: vars.get('sidebar-link-bg-color');
        border: vars.get('sidebar-link-border-width') solid vars.get('sidebar-link-border-color');
        border-radius: vars.get('sidebar-link-border-radius');

        &:hover {
            text-decoration: none;
            color: vars.get('sidebar-link-text-color-hover');
            background-color: vars.get('sidebar-link-bg-color-hover');
            border-color: vars.get('sidebar-link-border-color-hover');
        }

        &.active {
            color: vars.get('sidebar-link-text-color-active');
            background-color: vars.get('sidebar-link-bg-color-active');
            border-color: vars.get('sidebar-link-border-color-active');
        }

        &.active:hover {
            color: vars.get('sidebar-link-text-color-active-hover');
            background-color: vars.get('sidebar-link-bg-color-active-hover');
            border-color: vars.get('sidebar-link-border-color-active-hover');
        }
    }

    .title {
        padding: vars.get('sidebar-title-padding');
        margin: vars.get('sidebar-title-margin');
        font-size: vars.get('sidebar-title-font-size');
        font-weight: vars.get('sidebar-title-font-weight');
        color: vars.get('sidebar-title-text-color');
    }

    .link-with-icon {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;

        .icon-wrapper {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: vars.get('sidebar-icon-dims');
            height: vars.get('sidebar-icon-dims');
            font-size: vars.get('sidebar-icon-font-size');
            margin-right: vars.get('sidebar-icon-margin-right');
            color: vars.get('sidebar-icon-text-color');
            background-color: vars.get('sidebar-icon-bg-color');
            border: vars.get('sidebar-icon-border-width') solid vars.get('sidebar-icon-border-color');
            border-radius: vars.get('sidebar-icon-border-radius');
        }

        &:hover .icon-wrapper {
            color: vars.get('sidebar-icon-text-color-hover');
            background-color: vars.get('sidebar-icon-bg-color-hover');
            border-color: vars.get('sidebar-icon-border-color-hover');
        }

        &.active .icon-wrapper {
            color: vars.get('sidebar-icon-text-color-active');
            background-color: vars.get('sidebar-icon-bg-color-active');
            border-color: vars.get('sidebar-icon-border-color-active');
        }

        &.active:hover .icon-wrapper {
            color: vars.get('sidebar-icon-text-color-active-hover');
            background-color: vars.get('sidebar-icon-bg-color-active-hover');
            border-color: vars.get('sidebar-icon-border-color-active-hover');
        }
    }

    .brand {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: vars.get('sidebar-brand-padding');
        margin: vars.get('sidebar-brand-margin');
        font-size: vars.get('sidebar-brand-font-size');
        font-weight: vars.get('sidebar-brand-font-weight');
        color: vars.get('sidebar-brand-text-color');
    }

    .brand:hover {
        color: vars.get('sidebar-brand-text-color-hover');
        text-decoration: none;
    }

    .brand img {
        height: vars.get('sidebar-brand-image-height');
        margin-right: vars.get('sidebar-brand-image-margin-right');
    }
}
