/*
-----------------------------------------------------------------------
1.5.    Table
-----------------------------------------------------------------------
*/

@use '../../variables/map' as vars;

.table-fluid {
    overflow-x: auto;

    .table th,
    .table td {
        white-space: nowrap;
    }
}

table.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    thead tr {
        border-bottom: vars.get('table-thead-border-bottom-width') solid vars.get('table-border-color');
    }

    tfoot tr {
        border-top: vars.get('table-tfoot-border-top-width') solid vars.get('table-border-color');
    }

    tbody tr:not(:last-child) {
        border-bottom: vars.get('table-border-width') solid vars.get('table-border-color');
    }

    th {
        font-weight: vars.get('table-header-font-weight');
    }

    th,
    td {
        text-align: left;
        padding: vars.get('table-padding');
    }

    &.table-bordered,
    &.table-outer-bordered {
        border: vars.get('table-border-width') solid vars.get('table-border-color');
    }

    &.table-bordered th:not(:last-child),
    &.table-bordered td:not(:last-child),
    &.table-inner-bordered th:not(:last-child),
    &.table-inner-bordered td:not(:last-child) {
        border-right: vars.get('table-border-width') solid vars.get('table-border-color');
    }

    &.text-left {
        th,
        td {
            text-align: left !important;
        }
    }

    &.text-center {
        th,
        td {
            text-align: center !important;
        }
    }

    &.text-right {
        th,
        td {
            text-align: right !important;
        }
    }
}
