/*
-----------------------------------------------------------------------
3.  Form Elements

Table of contents:
    3.1.    Inputs
    3.2.    Select
    3.3.    Checkboxes
    3.4.    Switches
    3.#.    Input Group
    3.#.    Form Group

-----------------------------------------------------------------------
*/

input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

@import './input';
@import './select';
@import './checkbox';
@import './switch';
@import './input-group';
@import './form-group';
