/*
-----------------------------------------------------------------------
1.2.    Links
-----------------------------------------------------------------------
*/

a {
    color: var(--link-text-color);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: var(--link-text-color-hover);
    text-decoration: underline;
}
