/*
-----------------------------------------------------------------------
1.2.    Links
-----------------------------------------------------------------------
*/

@use '../../variables' as vars;

a {
    color: vars.get('link-text-color');
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: vars.get('link-text-color-hover');
    text-decoration: underline;
}
