/*
-----------------------------------------------------------------------
Variables : Button
-----------------------------------------------------------------------
*/

@use '../../variables' as vars;
@use '../../mixins/button' as button;
@use '../../mixins/color' as color;

/*----------  Common Button Variables  ----------*/
@include vars.setBase('button-font-size', inherit);
@include vars.setBase('button-height', 3.2rem);
@include vars.setBase('button-line-height', vars.get('base-line-height'));
@include vars.setBase('button-padding', 0 1.5rem);
@include vars.setBase('button-border-width', vars.get('base-border-width'));
@include vars.setBase('button-border-radius', vars.get('base-border-radius'));
@include vars.setBase('button-outline-width', 1px);
@include vars.setBase('button-outline-type', dotted);
@include vars.setBase('button-outline-offset', 2rem);

@include vars.setBase('button-sm-height', 2.6rem);
@include vars.setBase('button-sm-line-height', vars.get('base-line-height'));
@include vars.setBase('button-sm-padding', 0 1rem);
@include vars.setBase('button-sm-font-size', 1.2rem);

@include vars.setBase('button-lg-height', 4rem);
@include vars.setBase('button-lg-line-height', vars.get('base-line-height'));
@include vars.setBase('button-lg-padding', 0 2rem);
@include vars.setBase('button-lg-font-size', 1.8rem);

/*----------  Base Button Variables  ----------*/
@include button.variable(
    $text-color: vars.get('base-text-light-color'),
    $bg-color: #ffffff,
    $border-color: vars.get('base-border-color'),
    $box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.1),
    $text-color-hover: vars.get('base-text-color'),
    $bg-color-hover: vars.get('dawn-color'),
    $border-color-focus: RGBA(vars.get('dawn-dark-rgb'), 0.4),
    $box-shadow-focus: 0 0 0 0.2rem vars.get('shadow-color')
);

/*----------  Inverted Button Variable  ----------*/
@include button.variable(
    'inverted',
    $text-color: vars.get('white-color'),
    $bg-color: vars.get('dusk-color'),
    $border-color: vars.get('dusk-color'),
    $box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.1),
    $bg-color-hover: vars.get('dusk-light-color'),
    $border-color-hover: vars.get('dusk-dark-color'),
    $border-color-focus: rgba(0, 0, 0, 0.4),
    $box-shadow-focus: 0 0 0 0.2rem vars.get('shadow-color')
);

/*----------  Context Colors  ----------*/
@each $context in color.$contexts {
    @include button.variable(
        $context,
        $text-color: vars.get('#{$context}-text-color'),
        $bg-color: vars.get('#{$context}-color'),
        $border-color: vars.get('#{$context}-color'),
        $box-shadow: vars.get('button-box-shadow'),
        $bg-color-hover: vars.get('#{$context}-light-color'),
        $border-color-hover: vars.get('#{$context}-light-color'),
        $box-shadow-focus: 0 0 0 0.2rem vars.get('#{$context}-box-shadow-color')
    );
}

/*----------  Base Button Variables  ----------*/
@include button.variable(
    $dark: true,
    $text-color: vars.get('base-text-light-color'),
    $bg-color: rgba(255, 255, 255, 0.05),
    $border-color: rgba(255, 255, 255, 0.025) transparent transparent transparent,
    $box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.1),
    $bg-color-hover: rgba(255, 255, 255, 0.1),
    $border-color-focus: rgba(0, 0, 0, 0.4),
    $box-shadow-focus: 0 0 0 0.2rem rgba(255, 255, 255, 0.2)
);

/*----------  Inverted Button Variable  ----------*/
@include button.variable(
    'inverted',
    $dark: true,
    $text-color: vars.get('dusk-color'),
    $bg-color: #ffffff,
    $border-color: vars.get('base-border-color') transparent transparent transparent,
    $box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.1),
    $text-color-hover: vars.get('dusk-color'),
    $bg-color-hover: vars.get('dawn-color'),
    $border-color-focus: rgba(0, 0, 0, 0.4),
    $box-shadow-focus: 0 0 0 0.2rem rgba(255, 255, 255, 0.2)
);
