/*
-----------------------------------------------------------------------
2.5.    Dividers
-----------------------------------------------------------------------
*/

@use '../../variables/map' as vars;

hr,
.divider {
    display: block;
    height: vars.get('divider-height');
    width: 100%;
    color: vars.get('divider-color');
    background-color: vars.get('divider-color');
    margin: vars.get('divider-spacing') 0;
    border: none;

    &:not(hr).vertical {
        height: 100%;
        width: vars.get('divider-height');
        margin: 0 vars.get('divider-spacing');
    }
}
