/*
-----------------------------------------------------------------------
2.4.    Cards
-----------------------------------------------------------------------
*/

@use '../../variables/map' as vars;
@use '../../mixins/breakpoint' as breakpoints;
@use '../../mixins/shadows' as shadows;

%card-title-margin {
    margin-top: 0;
}

%card-title {
    font-size: vars.get('card-title-font-size');
    font-weight: vars.get('card-title-font-weight');
    @extend %card-title-margin;
}

%card-subtitle {
    font-size: vars.get('card-subtitle-font-size');
    font-weight: vars.get('card-subtitle-font-weight');
    color: vars.get('card-subtitle-color');
    @extend %card-title-margin;
}

.card {
    position: relative;
    margin: vars.get('card-margin');
    padding: vars.get('card-padding');

    color: vars.get('card-text-color');
    background-color: vars.get('card-bg-color');
    background-image: vars.get('card-bg-image');

    border: vars.get('card-border');
    border-radius: vars.get('card-border-radius');

    @include shadows.box(vars.get('card-box-shadow'));

    @media (max-width: map-get(breakpoints.$values,'sm')) {
        margin: vars.get('card-margin-sm');
        padding: vars.get('card-padding-sm');
    }

    > .title {
        @extend %card-title;
    }

    > .subtitle {
        @extend %card-subtitle;
    }

    > .header {
        > .title {
            @extend %card-title;
            margin-bottom: 0.5rem;
        }

        > .subtitle {
            @extend %card-subtitle;
        }

        &::after {
            position: relative;
            display: block;
            content: '';
            bottom: 0;
            left: 0;
            width: 100%;
            height: vars.get('card-header-divider-width');
            margin: vars.get('card-header-divider-margin') 0;
            background-color: vars.get('card-header-divider-color');
        }

        + .body {
            margin-top: vars.get('card-header-divider-margin');
        }
    }
}
