/*
-----------------------------------------------------------------------
Variables : Cards
-----------------------------------------------------------------------
*/

@mixin globals() {
    --card-margin: var(--content-spacing);
    --card-padding: var(--content-spacing);
    --card-margin-sm: var(--content-sm-spacing);
    --card-padding-sm: var(--content-sm-spacing);

    --card-header-divider-width: 1px;
    --card-header-divider-color: var(--divider-color);
    --card-header-divider-margin: 0.5rem;

    --card-title-font-size: var(--content-title-font-size);
    --card-title-font-weight: var(--content-title-font-weight);
    --card-subtitle-font-size: var(--base-font-size);
    --card-subtitle-font-weight: var(--base-font-weight);
    --card-subtitle-color: var(--muted-text-color);

    --card-text-color: var(--base-text-color);
    --card-bg-color: var(--dawn-light-color);
    --card-bg-image: none;
    --card-border: none;
    --card-border-color: var(--base-border-color);
    --card-border-radius: var(--base-border-radius);
    --card-box-shadow: 0 0.1rem 0.4rem 0 var(--shadow-color);
}

@mixin dark-only() {
    --card-bg-color: var(--dusk-light-color);
}
