/*
-----------------------------------------------------------------------
1.4.    Code
-----------------------------------------------------------------------
*/

@use '../../variables' as vars;
@use '../../mixins/select' as select;

%font-family {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

code:not(.ignore-style),
.code:not(.ignore-style) {
    font-family: monospace, monospace;
    font-size: vars.get('code-font-size');
    line-height: vars.get('code-line-height');
    padding: vars.get('code-padding');
    margin: vars.get('code-margin');
    color: vars.get('code-text-color');
    background-color: vars.get('code-bg-color');
    border: vars.get('code-border-width') solid vars.get('code-border-color');
    border-radius: vars.get('code-border-radius');

    &:not(.monospace) {
        @extend %font-family;
    }
}

kbd {
    @extend %font-family;
    font-size: vars.get('kbd-font-size');
    line-height: vars.get('kbd-line-height');
    padding: vars.get('kbd-padding');
    margin: vars.get('kbd-margin');
    color: vars.get('kbd-text-color');
    background-color: vars.get('kbd-bg-color');
    border: vars.get('kbd-border-width') solid vars.get('kbd-border-color');
    border-radius: vars.get('kbd-border-radius');

    @include select.user(none);
}
