/*
-----------------------------------------------------------------------
Variables : Code
-----------------------------------------------------------------------
*/

@mixin globals() {
    --code-font-size: 1.2rem;
    --code-line-height: var(--base-line-height);
    --code-padding: 0.1rem 0.5rem;
    --code-margin: 0 0.1rem;
    --code-border-width: var(--base-border-width);
    --code-border-radius: 0.2rem;

    --code-text-color: var(--base-text-color);
    --code-bg-color: var(--dawn-light-color);
    --code-border-color: rgba(0, 0, 0, 0.2);

    --kbd-font-size: var(--code-font-size);
    --kbd-line-height: var(--code-line-height);
    --kbd-padding: var(--code-padding);
    --kbd-margin: var(--code-margin);
    --kbd-border-width: var(--code-border-width);
    --kbd-border-radius: 0.35rem;

    --kbd-text-color: var(--base-text-color);
    --kbd-bg-color: var(--white-color);
    --kbd-border-color: rgba(0, 0, 0, 0.2);
}

@mixin dark-only() {
    --code-bg-color: rgba(0, 0, 0, 0.35);
    --code-border-color: rgba(255, 255, 255, 0.2);

    --kbd-bg-color: transparent;
    --kbd-border-color: rgba(255, 255, 255, 0.2);
}
