/*
-----------------------------------------------------------------------
2.6.    Navbar
-----------------------------------------------------------------------
*/

@use '../../variables/map' as vars;
@use '../../mixins/shadows' as shadows;

.navbar {
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    height: vars.get('navbar-height');
    padding: vars.get('navbar-padding');
    background-color: vars.get('navbar-bg-color');
    background-image: vars.get('navbar-bg-image');
    border: vars.get('navbar-border');
    @include shadows.box(vars.get('navbar-box-shadow'));

    .brand,
    .text,
    .section {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        min-width: 0;
    }

    *:not(:first-child) {
        margin-left: vars.get('navbar-horizontal-spacing');
    }

    .text {
        color: vars.get('navbar-text-color');
    }

    .brand {
        font-size: vars.get('navbar-brand-font-size');
        font-weight: vars.get('navbar-brand-font-weight');
        color: vars.get('navbar-brand-text-color');

        &:hover {
            color: vars.get('navbar-brand-text-color-hover');
            text-decoration: none;
        }

        > img {
            height: vars.get('navbar-brand-image-height');

            &:not(:only-child) {
                margin-right: vars.get('navbar-brand-image-margin-right');
            }
        }
    }

    .btn-action {
        width: vars.get('navbar-action-button-width');
        padding: vars.get('navbar-action-button-padding');
    }
}
