/*
-----------------------------------------------------------------------
2.1.    Containers
-----------------------------------------------------------------------
*/

@use '../../variables' as vars;
@use '../../mixins/breakpoint' as breakpoint;

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    width: vars.get('container-fluid-width');
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    margin-left: auto;
    margin-right: auto;
    width: vars.get('container-width');
}

@each $bp in breakpoint.$names {
    @include breakpoint.with($bp) {
        .container,
        .container-#{$bp} {
            max-width: vars.get('container-#{$bp}-max-width');
        }
    }
}
